= render 'commons/leftsidebar', user: current_user

.wide_show
  .ui.pointing.menu
    .item
      プロフィール
    .right.menu
      .item
        %i.edit.icon
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 編集

  .wide_show_mini
    .ui.raised.segment
      .div
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 【名前】
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 田中 太郎
      .div
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 【年齢】
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 24歳
      .div
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 【性別】
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 男
      .div
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 【在籍年数】
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 1年目
      .div
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 【電話番号】
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 080-0000-0000
      .div
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} 【メールアドレス】
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} guest@email.com