%header
  .ui.borderless.menu.top.fixed
    .container
      %span.item
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"} KnowHow(ロゴ作成中)
      .right.menu
        = link_to new_user_registration_path do
          %button.ui.basic.button.home_button
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}
                新規登録
        = link_to new_user_session_path do
          %button.ui.basic.button.home_button
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}
                ログイン
        = link_to users_guest_sign_in_path, method: :post do
          %button.ui.basic.button.home_button
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}
                ゲストログイン