%header
  .ui.borderless.menu.top.fixed.home_header
    .container
      %span.item.nopadding
        = image_tag 'logo.jpg', class: 'home_header_logo'
        -# %font{:style => "vertical-align: inherit;"}
        -#   %font{:style => "vertical-align: inherit;"} KnowHow(ロゴ作成中)
      .right.menu
        = link_to new_user_registration_path do
          %button.ui.basic.button.home_button.blue
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}
                新規登録
        = link_to new_user_session_path do
          %button.ui.basic.button.home_button.blue
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}
                ログイン
        = link_to users_guest_sign_in_path, method: :post do
          %button.ui.basic.button.home_button.blue
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"}
                ゲストログイン