.ui.segment
  .ui.top.attached.label.tac
    %i.eye.icon
    %span 最近見たノウハウ
  %p
    - if histories.present?
      - histories.each do |history|
        .ui.segment
          = link_to post_path(id: history.post_id) do
            - if history.post.about_knowhow?
              %i.book.icon
              %span.posts_subtitle 社内ノウハウ
            - elsif history.post.about_share?
              %i.share.alternate.icon
              %span.posts_subtitle 共有事項
            - else history.post.about_news?
              %i.newspaper.icon
              %span.posts_subtitle ニュース
            %p.posts_subtitle= history.post.title
    - else
      %h6.tac.post_padding_large 最近見たノウハウはありません