.ui.left.fixed.vertical.menu
  %p.height
  .button_01
    %button.ui.blue.button
      %i.icon.pencil.alternate
      アウトプットする
  = link_to posts_path, class: 'item' do
    %p.small ノウハウ一覧
  %a.item
    %p.small タイムライン
  %a.item
    %p.small ユーザ一覧

  %p.middle
  %a.item
    = image_tag 'default-avatar.png', class: 'ui avatar image'
    %span Username
  %a.item
    .ui.small.blue.label 1
    %p.small アウトプット一覧
  %a.item
    .ui.small.blue.label 51
    %p.small ブックマーク
  %a.item
    .ui.small.blue.label 1
    %p.small 下書き