.ui.right.fixed.vertical.menu
  %h3.ui.top.attached.header.small.tac
    %font{:style => "vertical-align: inherit;"}
      %font{:style => "vertical-align: inherit;"}
        最近見たノウハウ
  .ui.segment
    .ui.relaxed.divided.list
      = link_to posts_path, class: 'item' do
        %i.large.book.middle.aligned.icon
        .content
          .header
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} 特価申請で良い特価を引き出す方法
          .extra
            %p.ui.tag.label.blue タグ１
            %p.ui.tag.label.teal タグ２
          .description
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} 10分前に更新
    .ui.relaxed.divided.list
      = link_to posts_path, class: 'item' do
        %i.large.book.middle.aligned.icon
        .content
          .header
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} 特価申請で良い特価を引き出す方法
          .extra
            %p.ui.tag.label.blue タグ１
            %p.ui.tag.label.teal タグ２
          .description
            %font{:style => "vertical-align: inherit;"}
              %font{:style => "vertical-align: inherit;"} 10分前に更新