.container
  .margin_tb
    = link_to :back do
      %button.ui.basic.button
        %i.angle.left.icon
        %font{:style => "vertical-align: inherit;"}
          %font{:style => "vertical-align: inherit;"}
            もどる

