/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "semantic-ui";
@import "posts";
@import "sidebar";
@import "form";
@import "actiontext";
@import "profile";
@import "account";
@import "header";

.mw-md {
    max-width: 576px;
  }
  
.alert-notice {
    @extend .alert-info;
  }
  
.alert-alert {
    @extend .alert-danger;
  }


body {
    font-family: Tsukushi A Round Gothic !important;
    height: 100vh;
}

.opacity {
  opacity: 0.5;
}

.hidden {
  display: none !important;
}

.nofloat {
  float: none !important;
}

.text {
  font-size: 14px !important;
}

.nomargin {
  margin: 0px !important;
}

.margin_left {
  margin-left: 5px !important;
}

.nopadding {
  padding: 0 !important;
}

.black {
  color: black !important;
}

.bookmark_color {
  color: rgb(34, 92, 191);
}

.post_action_btn {
  cursor: pointer;
  color: black;
  text-decoration: none;
  &:hover {
    text-shadow: 0px 0px 20px rgb(34, 92, 191);
  }
}