.padding_tb {
    padding: 10px 0 !important;
}

.right {
    text-align: right;
}

.form {
    &_height {
        height: 90vh !important;
    }

    &_container {
        margin: 0 40px;
    }
}

.text {
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 5px 5px;

    &_height {
        height: 520px;
        text-align: left;
    }
}

.padding_setting {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}