.form {
    &_select {
        width: 140px !important;

        &_mini {
            width: 90px !important;
            margin-right: 10px;
        }
    }

    &_height {
        height: 350px;
    }
}