.home {
    &_button {
        padding: 5px 15px !important;
        height: 30px !important;
        margin-left: 10px !important;
        margin-top: 25px !important;
    }

    &_image {
        width: 500px;
        height: 324px;
        mix-blend-mode: multiply;
    }

    &_step {
        width: 80px;
        height: 80px;
        mix-blend-mode: multiply;
        margin-left: 100px;
        margin-bottom: 20px;
    }

    &_header {
        height: 80px;
        background-color: #F6FAFE !important;

        &_logo {
            height: 60px;
            width: 180px !important;
            mix-blend-mode: multiply;
        }
    }

    &_footer {
        p {
            opacity: 0.5;
            padding-top: 10px;
            text-align: center;
        }
    }
}

footer {
    background-color: #F6FAFE;
    color: #103c67;
    height: 50px;
    font-size: 16px;
}

.first {
    height: 700px;
    color: #103c67;
    background-color: #F6FAFE;

    &_home_container {
        padding-top: 140px;
    }

    &_home_image {
        width: 710px;
        mix-blend-mode: multiply;
    }

    &_title {
        font-size: 50px;
        font-weight: bold;

        &_sub {
            font-size: 18px;
        }
    }

    &_left {
        padding-top: 80px !important;
        padding-left: 50px !important;
    }
}

.second {
    background-color: #F6FAFE;
    color: #103c67;
    height: 400px;

    &_home_container {
        padding: 0 80px;
    }

    &_image {
        width: 500px;
        mix-blend-mode: multiply;
    }

    &_title {
        font-size: 35px;

        &_sub {
            font-size: 18px;
            padding-bottom: 30px;
        }
    }

    &_padding {
        padding-left: 50px !important;
    }
}

.third {
    background-color: #F6FAFE;
    color: #103c67;
    height: 500px;

    &_image {
        width: 323px;
        height: 235px;
    }

    &_title {
        font-size: 20px;
        font-weight: bold;

        &_sub {
            font-size: 14px;
            padding: 0 10px;
        }
    }
}