.contents {
    margin-left: 144px;
    height: 100vh;
}

a {
    text-decoration: none  !important; 
}

.wide {
    margin: 0 209px !important;
}

.header {
    border-bottom: none !important;
    margin-bottom: 5px !important;
}

.pagenation_block {
    text-align: center !important;
}