.profile {
    &_content {
        margin: 30px 150px;
    }

    &_description {
        margin-top: 30px !important;
        padding: 90px !important;

        &_right {
            margin-left: 50px !important;
            padding: 20px !important;
        }
    }



    &_image {
        height: 222px !important;
        width: 222px !important;
        margin-top: 14px !important;

        &_mini {
            height: 122px !important;
            width: 122px !important;
            margin-top: 14px !important;
        }
    }

    &_image_content {
        height: 222px !important;
        width: 222px !important;
        margin: 26px 14px !important;

        &_mini {
            height: 122px !important;
            width: 122px !important;
            margin: 26px 14px !important;
        }
    }

    &_wide {
        width: 250px !important;

        &_mini {
            width: 150px !important;
        }
    }

    &_text {
        font-size: 10px !important;
    }
}