.height {
    height: 24px;
}

.color {
    background-color: #37474F !important;
}

.button_01 {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgb(208, 208, 208);
}

.button {
    font-size: 12px !important;
}

.small {
    font-size: 12px !important;
}

.tac {
    text-align: center !important;
}